body{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
    color: #2A2D46;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6{
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

u1, i1 {
    display: block;
    padding: 0;
    margin: 0;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

header a{
    color:black;
}

.menu{
    display: flex;
}

.menu li a{
    text-decoration: none;
    font-size: 15px;
}

.menu li{
    margin-right: 32.5px;
}

.logo{
    margin-right: 1px;
}

.basketballer{
    color:#3145FF;
    margin-right: 100px;
}

.kross{
    color: #3145FF;
    ;
}

.tel{
    font-size: 15 px;
    text-decoration: none;
    margin-right: 20px;
}


.order{
    font-size: 13px;
    text-decoration: none;
    color: #EB2D66;
    margin-right: 70px;
}


.rub{
    text-decoration: none;
}

.basket{
    margin-right: 5px;
}

.arrow{
    font-size: 6px;
}

.nav{
    display: flex;
    align-items: center;
}

.main{

}

.main-container{
    width: 1346px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    padding-top: 66px;
    padding-bottom: 66px;
}

.main-content{
    width: 544px;
    font-size: 18px;
    color: black;
}

.main-png{

}

.main-header{
    margin: 0;
    margin-bottom: 16px;
    font-size: 36px;
    line-height: 43.88px;
    color: black;

}

main-text{
    margin-bottom: 32px;
}

.main-text p{
    Margin: 0;
    margin-bottom: 19px;
    font-size: 18px;
    line-height: 25.72px;
}

.button{
    display: inline-block;
    padding-left: 35px;
    padding-right: 35px;
    height: 63px;
    background: #EB2D66;
    border-radius: 1px;

    font-weight: bold;
    font-size: 16px;
    line-height: 63px;
    text-align: center;
    color: white;
    text-decoration: none;
    transition: background 0.3s ease; 
    box-shadow: 0 4px 10px #f19bb5; 
}

.header {
    display: flex; 
    align-items: center; 
}

.logo {
    margin-left: 20px; 
    margin-left: 20px; 
}